aiohttp==3.2.1
aiohttp-cors==0.7.0
aiohttp-jinja2==1.0.0
aiohttp-security==0.2.0
aiohttp-session==2.5.1
asn1crypto==0.24.0
async-timeout==3.0.0
attrs==18.1.0
Cerberus==1.2
certifi==2018.4.16
cffi==1.11.5
chardet==3.0.4
cryptography==2.2.2
envparse==0.2.0
idna==2.6
idna-ssl==1.0.1
Jinja2==2.10
MarkupSafe==1.0
multidict==4.3.1
passlib==1.7.1
pycparser==2.18
requests==2.18.4
six==1.11.0
urllib3==1.22
yarl==1.2.4
